{% extends "multi_switch/base.html" %}
{% load i18n static %}

{% block title %}みつき すいっち{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'multi_switch/css/stat.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
    {% csrf_token %}

    <!-- Type Title -->
    <div class="type-title helmet" data-val="helmet">
        <div><i class="switch-icon helmet"></i></div>
        <div class="switch-type-name">へるめっと</div>
    </div>

    <!-- Date Selector -->
    <div class="date-selector">
        <div class="btn-move btn-prev" data-val="2">
            <i class="material-icons">chevron_left</i>
        </div>
        <div class="datetime">
            <div class="year">0000</div>
            <div class="year-design">年</div>
            <div class="month">00</div>
            <div class="month-design">月</div>
        </div>
        <div class="btn-move btn-next" data-val="0">
            <i class="material-icons">chevron_right</i>
        </div>
    </div>

    <!-- Stat Data -->
    <div class="stat-data">
        <div class="stat-column total-all">
            <div class="caption">全平均</div>
            <div class="content">
                <div class="on">
                    <div class="status-label">装着</div>
                    <div class="time">00:00:00</div>
                </div>
                <div class="off">
                    <div class="status-label">休憩</div>
                    <div class="time">00:00:00</div>
                </div>
            </div>
        </div>
        <div class="stat-column total-month">
            <div class="caption">当月平均</div>
            <div class="content">
                <div class="on">
                    <div class="status-label">装着</div>
                    <div class="time">00:00:00</div>
                </div>
                <div class="off">
                    <div class="status-label">休憩</div>
                    <div class="time">00:00:00</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Stat Calendar -->
    <div class="stat-calendar">
        <div class="calendar-row weekday">
            <div class="cell sun">日</div>
            <div class="ce  ll">月</div>
            <div class="cell">火</div>
            <div class="cell">水</div>
            <div class="cell">木</div>
            <div class="cell">金</div>
            <div class="cell sat">土</div>
        </div>
    </div>

    <!-- FAB -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large amber accent-4">
            <i class="large material-icons">cached</i>
        </a>
        <ul>
            <li>
                <a class="btn-change-view btn-floating blue lighten-3 invisible" data-val="helmet">
                    <i class="switch-icon helmet"></i>
                </a>
            </li>
            <li>
                <a class="btn-change-view btn-floating light-green lighten-3" data-val="napping">
                    <i class="switch-icon napping"></i>
                </a>
            </li>
            <li>
                <a class="btn-change-view btn-floating purple lighten-3" data-val="night">
                    <i class="switch-icon night"></i>
                </a>
            </li>
        </ul>
    </div>

{% endblock content %}

{% block extra_js %}
    <script src="{% static 'multi_switch/js/stat.js' %}"></script>
{% endblock extra_js %}