{% extends "multi_switch/base.html" %}
{% load i18n static %}

{#{% block title %}みつき すいっち{% endblock title %}#}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'multi_switch/css/whatsnew.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
    {% csrf_token %}
    <div class="new-release-body"></div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'multi_switch/js/whatsnew.js' %}"></script>
{% endblock extra_js %}