/********/
/* Base */
/********/
html{
    overflow-y: hidden;
}

.signature{
    margin-bottom: 48px;
}


/********/
/* BODY */
/********/

.inquiries-body{
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

.inquiry-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px #e8e8e8 solid;
}

.inquiry-row:first-child{
    border-top: 0;
}

.inquiry-number {
    min-width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    width: 40%;
}

.inquiry-number .inquiry-id{
    background-color: #BBBBFF;
    padding: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #666666;
    border: 4px #AAAAFF solid;
}

.inquiry-number .inquiry-status{

}

.inquiry-number .inquiry-status .status{
    font-size: 14px;
    color: #ffffff;
    border-radius: 4px;
    background-color: #e8e8e8;
    font-weight: bold;
    padding: 4px;
}

.inquiry-number .inquiry-status .status.new{
    background-color: #FF8888;
}
.inquiry-number .inquiry-status .status.waiting{
    background-color: #FF996B;
}
.inquiry-number .inquiry-status .status.investigating{
    background-color: #afb42b;
}
.inquiry-number .inquiry-status .status.working{
    background-color: #32BB00;
}
.inquiry-number .inquiry-status .status.completed{
    background-color: #0277bd;
}

.inquiry-overview{
    min-width: 96px;
    max-width: 136px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    padding: 8px 0;
}

.inquiry-overview .inquiry-place{
    font-size: 16px;
    color: #999999;
    margin-bottom: 8px;
    font-weight: bold;
}

.inquiry-row .inquiry-overview .updated-time{
    width: 100%;
    color: #999999;
    font-size: 11px;
    padding: 8px 0;
    text-align: center;
}

.inquiry-row .inquiry-overview .creator-name{
    font-size: 12px;
    color: #666666;
    font-weight: bold;
}

.inquiry-row .inquiry-contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.inquiry-row .inquiry-contents .sentence{
    width: 100%;
    color: #666666;
    font-size: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 8px 0;
}

.inquiry-row .inquiry-to-detail{
    min-width: 64px;
    max-width: 80px;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 96px;
}

.inquiry-row .inquiry-to-detail .to-detail-icon{
    background-color: #66AAFF;
    border-radius: 50%;
    padding: 12px;
    height: 48px;
    width: 48px;
    color: #ffffff;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.3));
    cursor: pointer;
}

.inquiry-row .inquiry-to-detail .to-detail-icon:hover{
    background-color: #1b6d85;
}

/***********/
/* Details */
/***********/
.inquiries-detail{
    display: none;
    flex-direction: column;
    position: relative;
}

.inquiries-detail .basic-info{
    background-color: #f0f0f0;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px;
    margin: 0;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.3));
    width: 100%;
    max-width: 478px;
    min-width: 320px;
    z-index: 400;
}
.inquiries-detail .basic-info .info-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.inquiries-detail .basic-info .info-column.back-to-list{
    width: 56px;
    margin-right: 16px;
}
.inquiries-detail .basic-info .info-column.back-to-list .info-row{
    width: 56px;
}
.inquiries-detail .basic-info .info-column .info-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inquiries-detail .basic-info .info-column .info-row .info-item{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inquiries-detail .basic-info .info-column .info-row .info-item .btn-back-to-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #CCCCCC;
    border-radius: 8px;
    color: #666666;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.3));
    cursor: pointer;
    padding: 4px;
    font-size: 12px;
}
.inquiries-detail .basic-info .info-column .info-row .info-item .btn-back-to-list:hover{
    background-color: #aaaaaa;
}
.inquiries-detail .basic-info .info-column .info-row .info-item .btn-back-to-list span{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.inquiries-detail .basic-info .info-column .info-row .info-item .caption {
    font-size: 12px;
    color: #666666;
}

.inquiries-detail .basic-info .info-column .info-row .inquiry-place .value{
    font-size: 16px;
    color: #999999;
    margin-bottom: 8px;
    font-weight: bold;
}

.inquiries-detail .basic-info .info-column .info-row .inquiry-status .status{
    font-size: 14px;
    color: #ffffff;
    border-radius: 4px;
    background-color: #e8e8e8;
    font-weight: bold;
    padding: 4px;
}
.inquiries-detail .basic-info .info-column .info-row .inquiry-status .status.new{
    background-color: #f48fb1;
}
.inquiries-detail .basic-info .info-column .info-row .inquiry-status .status.waiting{
    background-color:#ffb74d;
}
.inquiries-detail .basic-info .info-column .info-row .inquiry-status .status.investigating{
    background-color: #fff176;
}
.inquiries-detail .basic-info .info-column .info-row .inquiry-status .status.working{
    background-color: #81c784;
}
.inquiries-detail .basic-info .info-column .info-row .inquiry-status .status.completed{
    background-color: #81d4fa;
}

/************************/
/* Details - Detail Row */
/************************/
.detail-row-body{
    padding: 8px;
    border-top: 1px #f0f0f0 solid;
    overflow-y: scroll;
}

.detail-row{
    display: flex;
    flex-direction: row;
    flex-direction: row;
    margin-top: 16px;

}
.detail-row.me{
    display: flex;
    flex-direction: row-reverse;
}

.detail-row.date{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.detail-row.date .date-sign{
    background-color: #4488DD;
    padding: 2px 10px;
    border-radius: 16px;
}

.detail-row .profile{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.detail-row .profile img{
    height: 40px;
    width: 40px;
}

.detail-row .balloon{
    margin-left: 16px;
    position: relative;
    width: 100%;
}

.detail-row .balloon .balloon-tip{
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 100;
}

.detail-row.others .balloon .balloon-tip{
    background-color: #CCCCCC;
    transform: rotate3d(1,1,0, 60deg);
    top: 17px;
}

.detail-row.me .balloon .balloon-tip{
    background-color: #85E249;
    transform: rotate3d(0,-1,1, 105deg);
    top: 0px;
    right: 0;
}

.detail-row .balloon .name{
    font-size: 12px;
}

.detail-row .balloon .pop{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.detail-row.me .balloon .pop{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.detail-row .balloon .pop .option {
    margin: 0 4px;
}
.detail-row .balloon .pop .option .read{
    font-size: 12px;
}

.detail-row .balloon .pop .option .time{
    font-size: 12px;
}

.detail-row .balloon .pop .sentence{
    border-radius: 24px;
    padding: 8px 12px;
    z-index: 300;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.detail-row.others .balloon .pop .sentence{
    background-color: #CCCCCC;
}
.detail-row.me .balloon .pop .sentence{
    background-color: #85E249;
}
/****************/
/* Message Area */
/****************/
.inquiries-detail .message-area{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #cccccc;
    z-index: 400;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.3));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.inquiries-detail .message-area .input {
    width: 100%;
    margin: 0 8px 0 16px;
}

.inquiries-detail .message-area .input textarea{
    background-color: #ffffff;
    border-radius: 16px;
    padding-left: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.inquiries-detail .message-area .buttons{
    margin: 0 16px 0 8px;
}

.inquiries-detail .message-area .buttons .btn-send{
    color: #ffffff;
    background-color: #00c853;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.3));
    cursor: pointer;
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
    min-height: 40px;
}

.inquiries-detail .message-area .buttons .btn-send.disabled{
    background-color: #cccccc;
    filter: none;
    cursor: default;
}

.inquiries-detail .message-area .buttons .btn-send span{
    display: flex;
    align-items: center;
}

.inquiries-detail .message-area .buttons .btn-send:hover{
    background-color: #388e3c;
}
.inquiries-detail .message-area .buttons .btn-send.disabled:hover{
    background-color: #cccccc;
    filter: none;
}

/******************/
/* Inquiry Dialog */
/******************/
.inquiry-dialog{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 400;
    display: none;
}

.dialog-body{
    background-color: #ffffff;
    min-width: 320px;
    max-width: 400px;
    border-radius: 8px;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.3));
    margin: 80px auto 0 auto;
    width: 66%;
}

.dialog-body .dialog-header{
    background-color: #FFFF99;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px 8px 0 0;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dialog-body .dialog-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
}

.dialog-body .dialog-content .input-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dialog-body .dialog-content .input-row .title{
    align-items: center;
    display: flex;
    width: 25%;
    font-size: 16px;
    color: #666666;
    padding: 0 8px;
}

.dialog-body .dialog-content .input-row .input{
    width: 75%;
}

.dialog-body .dialog-footer{
    border-top: 1px #f0f0f0 solid;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 0 0 8px 8px;
    height: 56px;
    align-items: center;
}

.dialog-body .dialog-footer .btn{
    margin-left: 8px;
}

/**************************/
/* Floating Action Button */
/**************************/
.floating-action-btn{
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 400;
}
.btn-new-inquiry{
    height: 48px;
    width: 48px;
    background-color: #f44336;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.3));
    cursor: pointer;
}

/*****************/
/* Status Dialog */
/*****************/
.status-dialog{
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
}

.status-dialog-body{
    background-color: white;
    border-radius: 4px;
    margin-top: 80px;
    width: 60%;
    min-width: 320px;
    max-width: 480px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status-dialog-body .dialog-header{
    border-radius: 4px 4px 0 0;
    background-color: orange;
    color: white;
    padding: 8px;
}

.status-dialog-body .dialog-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status-dialog-body .dialog-content .status-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.status-select-button{
    width: 100px;
    background-color: #e8e8e8;
    border-radius: 4px;
    font-weight: bold;
    padding: 4px;
    font-size: 16px;
    text-align: center;
    margin: 8px;
    cursor: pointer;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.3));
}
.status-select-button.selected {
    filter: none;
}
.status-select-button.new{
    background-color: #fce4ec;
}
.status-select-button.waiting{
    background-color: #fff3e0;
}
.status-select-button.investigating{
    background-color: #fffde7;
}
.status-select-button.working{
    background-color: #e8f5e9;
}
.status-select-button.completed{
    background-color: #e1f5fe;
}
.status-select-button.discontinued{
    background-color: #eceff1;
}
.status-select-button.new.selected{
    background-color: #f48fb1;
}
.status-select-button.waiting.selected{
    background-color: #ffb74d;
}
.status-select-button.investigating.selected{
    background-color: #fff176;
}
.status-select-button.working.selected{
    background-color: #81c784;
}
.status-select-button.completed.selected{
    background-color: #81d4fa;
}
.status-select-button.discontinued.selected{
    background-color: #b0bec5;
}
.status-select-button.new:hover{
    background-color: #f48fb1;
}
.status-select-button.waiting:hover{
    background-color: #ffb74d;
}
.status-select-button.investigating:hover{
    background-color: #fff176;
}
.status-select-button.working:hover{
    background-color: #81c784;
}
.status-select-button.completed:hover{
    background-color: #81d4fa;
}
.status-select-button.discontinued:hover{
    background-color: #b0bec5;
}
.status-dialog-body .dialog-footer{
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    border-top: 1px #e8e8e8 solid;
}

.status-dialog-body .dialog-footer .btn{
    margin-left: 4px;
}



