/**********/
/** BODY **/
/**********/
.timer-body{
    /* 本体 */
}

/************/
/** HEADER **/
/************/
.timer-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    border-bottom: 2px #e8e8e8 dotted;
    height: 48px;

}

.app-title{
    font-size: 24px;
    color: #666666;
}

.logs-icon i{
    font-size: 3rem !important;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

.logs-icon i:hover{
    background-color: #e8e8e8;
}

/*****************/
/* Date Selector */
/*****************/
.date-selector{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff3e0;
    padding: 8px;
    position: fixed;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.3));
    width: 100%;
    overflow: hidden;
    z-index: 200;
    max-width: 478px;
    min-width: 318px;
}

.date-selector .previous-date i.disabled{
    background-color: #f0f0f0;
    color: #999999;
    border-radius: 50%;
    cursor: default;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.date-selector .previous-date i{
    background-color: #e1f5fe;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    font-size: 3rem;
}
.date-selector .previous-date i:hover{
    background-color: #81d4fa;
}

.date-selector .previous-date i.disabled:hover{
    color: #999999;
    background-color: #f0f0f0;
}

.date-selector .now-date{
     display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
}
.date-selector .now-date .year{
    font-size: 16px;
    margin: 0 2px;
}
.date-selector .now-date .date{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.date-selector .now-date .date .number{
    font-size: 24px;
    margin: 0 2px;
}

.date-selector .now-date .date .character{
    font-size: 16px;
    margin: 0 2px;
}

.date-selector .now-date .date .weekday{
    font-size: 16px;
    margin: 0 2px;
}

.date-selector .next-date i{
    background-color: #e1f5fe;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    font-size: 3rem;
}
.date-selector .next-date i.disabled{
    background-color: #f0f0f0;
    color: #999999;
    border-radius: 50%;
    cursor: default;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.date-selector .next-date i:hover{
    background-color: #81d4fa;
}
.date-selector .next-date i.disabled:hover{
    color: #999999;
    background-color: #f0f0f0;
}

/************************/
/* Log Content - Common */
/************************/
.log-contents{
    overflow-x: hidden;
    border-left: 1px #f0f0f0 solid;
    border-right: 1px #f0f0f0 solid;
    border-bottom: 1px #f0f0f0 solid;
    border-radius: 0 0 8px 8px;
    float: left;
    width: 100%;
    margin-top: 64px;
    z-index: 100;
    overflow: hidden;
}

/***********************/
/* Log Content - Graph */
/***********************/
.log-contents .graph{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 8px;
}
.log-contents .graph .graph-scales{
    display: flex;
    flex-direction: column;
    height: 1000px;
}
.log-contents .graph .graph-scales .scale-1{
    color: #666666;
    font-size: 16px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.log-contents .graph .graph-scales .scale-2{
    color: #999999;
    font-size: 12px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.log-contents .graph .graph-body{
    height: 1000px;
    margin: 0 40px 0 12px;
    padding: 20px 0;
    width: inherit;
}
.log-contents .graph .graph-body .graph-base {
    height: 960px;
    width: inherit;
    border-radius: 4px;
    background-color: #f1f8e9;
}
.log-contents .graph .graph-body .graph-base .scale-1{
    color: #666666;
    height: 40px;
    border-bottom: 2px #999999 dotted;
    width: inherit;
}
.log-contents .graph .graph-body .graph-base .scale-2{
    color: #999999;
    height: 40px;
    border-bottom: 1px #cccccc dotted;
    width: inherit;
}

/*****************+*****/
/* Log Contents - Icon */
/*****************+*****/
.icons{
    position: relative;
    top: -988px;
    left: 60px;
}
.graph-icon{
    position: absolute;
    transform: scale(0);
    transition: transform 0.5s cubic-bezier(.2,.8,.46,1.29);
    overflow: hidden;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.graph-icon i{
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 8px;
}

.graph-icon.milk i{
    content: url(/static/multi_switch/img/milk_64.png);
    background-color: #ffcdd2;
}
.graph-icon.milk i:hover{
    background-color: #ef9a9a;
}

.graph-icon.poo i{
    content: url(/static/multi_switch/img/poo_64.png);
    background-color: #ffcc80;
}
.graph-icon.poo i:hover{
    background-color: #ffb74d;
}

.graph-icon.pee i{
    content: url(/static/multi_switch/img/pee_64.png);
    background-color: #fff59d;
}
.graph-icon.pee i:hover{
    background-color: #fff176;
}

.graph-icon.food i{
    content: url(/static/multi_switch/img/food_64.png);
    background-color: #80cbc4;
}
.graph-icon.food i:hover{
    background-color: #4db6ac;
}

.graph-icon.shower i{
    content: url(/static/multi_switch/img/shower_64.png);
    background-color: #9fa8da;
}
.graph-icon.shower i:hover{
    background-color: #7986cb;
}

.graph-icon.helmet-on i{
    content: url(/static/multi_switch/img/helmet_64.png);
    background-color: #90caf9;
}
.graph-icon.helmet-on i:hover{
    background-color: #64b5f6;
}

.graph-icon.helmet-off i{
    content: url(/static/multi_switch/img/helmet_off_64.png);
    background-color: #ef9a9a;
}
.graph-icon.helmet-off i:hover{
    background-color: #e57373;
}

.graph-icon.napping-on i{
    content: url(/static/multi_switch/img/napping_64.png);
    background-color: #c5e1a5;
}
.graph-icon.napping-on i:hover{
    background-color: #aed581;
}

.graph-icon.napping-off i{
    content: url(/static/multi_switch/img/napping_off_64.png);
    background-color: #ffe082;
}
.graph-icon.napping-off i:hover{
    background-color: #ffd54f;
}

.graph-icon.night-on i{
    content: url(/static/multi_switch/img/night_64.png);
    background-color: #ce93d8;
}
.graph-icon.night-on i:hover{
    background-color: #ba68c8;
}

.graph-icon.night-off i{
    content: url(/static/multi_switch/img/night_off_64.png);
    background-color: #ffcdd2;
}
.graph-icon.night-off i:hover{
    background-color: #ef9a9a;
}

/*****************+*******/
/* Log Contents - Detail */
/*****************+*******/
.log-detail{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    height: 100%;
    width: 100%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*padding-top: 10%;*/
    z-index: 300;
}
.log-detail .detail-body{
    background-color: #ffffff;
    width: 360px;
    border-radius: 8px;
    margin: 80px auto 0 auto;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.log-detail .detail-body .header{
    color: #333333;
    padding: 12px 8px;
    background-color: #ffe57f;
    border-radius: 8px 8px 0 0;
    font-size: 16px;
    font-weight: bold;
}

.log-detail .detail-body .contents{
    color: #333333;
    padding: 8px;
    font-size: 12px;
}

.log-detail .detail-body .contents .row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.log-detail .detail-body .contents .row .title{
    width: 50%;
    text-align: left;
}

.log-detail .detail-body .contents .row .input{
    width: 50%;
    text-align: right;
}

.log-detail .detail-body .contents .row .input.switch_type select{
    border: 0;
    border-bottom: 1px #9e9e9e solid;
    
}

#adding-form-switch-type{
    cursor: pointer;
}

#adding-form-switch-type:disabled{
    cursor: default;
}

.log-detail .detail-body .contents .row .input.switch_type select:focus{
    outline:none;
    border-bottom: 1px #c9f3ef solid;
}

.datetime-input-items .title{
    width: 20%;
}

.datetime-input-items .input{
    width: 60%;
}

.log-detail .detail-body .contents .row .input.datetime-input-items .item-input{
    /*border-bottom: 1px #9e9e9e solid;*/
}

#adding-form-datetime{
    /*border: 0;*/
    padding: 0 4px;
    width: 152px;
    margin-bottom: 0;
    text-align: right;
    color: #333333;
}
.input-seconds{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px #9e9e9e solid;
    margin-left: 8px;
    margin-top: -8px;
}

.input-seconds .input.input-field{
    margin: 0;
    width: 40px !important;
}

#adding-form-datetime-seconds{
    text-align: right;
    width: 40px;
    border: 0;
    margin: 0;
    font-size: 16px;
}
.label-seconds{
    color: #999999;
    font-size: 10px;
    height: 42px;
    display: flex;
    align-items: center;
    width: 16px;
    padding: 0 4px;
}

.log-detail .detail-body .contents .row .input.note{
    width: 520px !important;
}

.log-detail .detail-body .footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 8px;
    border-radius: 0 0 8px 8px;
    border-top: 1px #e8e8e8 solid;
}

.log-detail .detail-body .footer .btn{
    margin: 0 4px;
}

.log-detail .detail-body .footer .btn-delete{
    margin-right: auto;
}


.confirmation{
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 400;
}

.confirmation .dialog{
    width: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    position: fixed;
    top: 0;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    top: 30%;
    left: 50%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    z-index: 400;
}

.confirmation .dialog .contents{
    padding: 8px;

}
.confirmation .dialog .footer{
    border-top: 1px #cccccc solid;
    padding: 8px;
    display: flex;
    justify-content: flex-end;

}
.confirmation .dialog .footer div{
    margin-left: 8px;
}

/************/
/* Log List */
/************/

.log-list{
    display: none;
    overflow-x: hidden;
    border-left: 1px #f0f0f0 solid;
    border-right: 1px #f0f0f0 solid;
    border-bottom: 1px #f0f0f0 solid;
    border-radius: 0 0 8px 8px;
    float: left;
    width: 100%;
    margin-top: 64px;
    z-index: 100;
    overflow: hidden;
}

.log-list .list-row{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border-bottom: 1px #f0f0f0 solid;
    transition: all 0.3s ease;
    opacity: 0;
    padding: 0;
    height: 0;
    display: none;
}
.log-list .list-row:last-child{
    margin-bottom: 40px;
}

.log-list .list-row .list-icon{
    transition: transform 0.5s cubic-bezier(.2,.8,.46,1.29);
    overflow: hidden;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    margin: 0 24px;
}

.log-list .list-row .list-icon.edit {
    /* Editアイコンだけクリッカブルなので */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
}

.log-list .list-row .list-icon i{
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    padding: 8px;
}

.log-list .list-row .list-icon.milk i{
    content: url(/static/multi_switch/img/milk_64.png);
    background-color: #ffcdd2;
}

.log-list .list-row .list-icon.poo i{
    content: url(/static/multi_switch/img/poo_64.png);
    background-color: #ffcc80;
}

.log-list .list-row .list-icon.pee i{
    content: url(/static/multi_switch/img/pee_64.png);
    background-color: #fff59d;
}
.log-list .list-row .list-icon.food i{
    content: url(/static/multi_switch/img/food_64.png);
    background-color: #80cbc4;
}

.log-list .list-row .list-icon.shower i {
    content: url(/static/multi_switch/img/shower_64.png);
    background-color: #9fa8da;
}

.log-list .list-row .list-icon.helmet-on i{
    content: url(/static/multi_switch/img/helmet_64.png);
    background-color: #90caf9;
}

.log-list .list-row .list-icon.helmet-off i{
    content: url(/static/multi_switch/img/helmet_off_64.png);
    background-color: #ef9a9a;
}

.log-list .list-row .list-icon.napping-on i{
    content: url(/static/multi_switch/img/napping_64.png);
    background-color: #c5e1a5;
}

.log-list .list-row .list-icon.napping-off i{
    content: url(/static/multi_switch/img/napping_off_64.png);
    background-color: #ffe082;
}

.log-list .list-row .list-icon.night-on i{
    content: url(/static/multi_switch/img/night_64.png);
    background-color: #ce93d8;
}

.log-list .list-row .list-icon.night-off i{
    content: url(/static/multi_switch/img/night_off_64.png);
    background-color: #bcaaa4;
}

.log-list .list-row .list-icon.edit i{
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    background-color: #5e35b1;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
}
.log-list .list-row .list-icon.edit i:hover{
    background-color: #64ffda;
}

.log-list .list-row .icon-caption{
    color: #999999;
    font-size: 10px;
    text-align: center;
}

.log-list .list-row .info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.log-list .list-row .info .date {
    color: #999999;
    font-size: 16px;
    margin: 4px 0;
    font-weight: bold;
}

.log-list .list-row .info .note{
    color: #666666;
    font-size: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.log-list .list-row .edit{

}
/**************************/
/* Floating Action Button */
/**************************/
.fixed-action-btn{
    z-index: 200;
}

.fixed-action-btn ul li a.invisible{
    display: none;
}
