/**************/
/* Type Title */
/**************/
.type-title{
    background-color: #fce4ec;
    width:100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 300;
    max-width: 480px;
}

.type-title.helmet{
    background-color: #90CAF9;
}

.type-title.napping{
    background-color: #c5e1a5;
}

.type-title.night{
    background-color: #ce93d8;
}


.type-title .switch-icon{
    height: 40px;
    width: 40px;
}

.type-title .switch-type-name{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}
/********************/
/* Calendar Content */
/********************/

.calendar-content{
    margin-top: 48px;
}

/*****************/
/* Date Selector */
/*****************/
.date-selector{
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 0;
    margin-top: 8px;
}

.date-selector .btn-move{
    width: 64px;
    border-radius: 4px;
    background-color: #f0f4c3;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.date-selector .btn-move:hover{
    background-color: #c0c4a3;
}

.date-selector .btn-move.disabled{
    color: #cccccc;
    background-color: #e8e8e8;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

.date-selector .datetime{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;
}

.date-selector .datetime .year{
    font-size: 24px;
    margin: 0 2px;
}

.date-selector .datetime .year-design{
    font-size: 16px;
    margin: 0 2px;
}

.date-selector .datetime .month{
    font-size: 24px;
    margin: 0 2px;
}

.date-selector .datetime .month-design{
    font-size: 16px;
    margin: 0 2px;
}


/*************/
/* Stat Data */
/*************/
.stat-data{
    width:100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 12px 0;
}

.stat-data .stat-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px #f0f0f0 solid;
    padding: 0px 8px;
    border-radius: 8px;
    background-color: #f1f8e9;
}

.stat-data .stat-column .caption {
    font-weight: bold;
    margin: 0 8px;
}

.stat-data .stat-column .content {
    display: flex;
    flex-direction: column;
}

.stat-data .stat-column .content .invisible {
    display: none !important;
}

.stat-data .stat-column .content .on {
    display: flex;
    flex-direction: row;
    margin: 2px 0;
}

.stat-data .stat-column .content .on .status-label{
    background-color: #90caf9;
    padding: 2px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: bold;
    margin: 0 4px;
}

.stat-data .stat-column .content .off {
    display: flex;
    flex-direction: row;
    margin: 2px 0;
}

.stat-data .stat-column .content .off .status-label{
    background-color: #ef9a9a;
    padding: 2px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: bold;
    margin: 0 4px;
}



/*****************/
/* Stat Calendar */
/*****************/
.stat-calendar{
    width:100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
    margin-bottom: 48px;
}

.stat-calendar .calendar-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    min-height: 40px;
    max-height: 80px;
}
.stat-calendar .calendar-row.weekday{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    min-height: 16px;
    max-height: 24px;
    font-weight: bold;
    color: #666666;
    background-color: #f9fbe7;
}
.stat-calendar .calendar-row.weekday .sun{
    color: #d50000;
}
.stat-calendar .calendar-row.weekday .sat{
    color: #304ffe;
}
.stat-calendar .calendar-row .cell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: 56px;
    max-width: 80px;
    transition: all 0.3s ease;

}
.stat-calendar .calendar-row.date .cell{
    padding-top: 8px;
    opacity: 0;
}

.stat-calendar .calendar-row.date .cell.none{
    background-color: #ffffff;
}

.stat-calendar .calendar-row.date .cell.odd{
    background-color: #fafafa;
}

.stat-calendar .calendar-row.date .cell.even{
    background-color: #f3f7f9;
}
.stat-calendar .calendar-row.date .cell.future{
    color: #cccccc;
}
.stat-calendar .calendar-row.date .cell.future .day{
    -webkit-box-shadow: none;
    box-shadow:none;
    background-color: transparent;
}
.stat-calendar .calendar-row.date .cell.today{
    background-color: #badaff;
}


.stat-calendar .calendar-row .cell .day{
    font-weight: bold;
    font-size: 16px;
    background-color: #CCDDFF;
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.stat-calendar .calendar-row .cell .total-time{
    font-size: 11px;
}

.stat-calendar .calendar-row .cell .total-time .invisible{
    display: none !important;
}

.stat-calendar .calendar-row .cell .total-time.on span{
    color: #90caf9;
}
.stat-calendar .calendar-row .cell .total-time.off span{
    color: #ef9a9a;
}

/**************************/
/* Floating Action Button */
/**************************/
.fixed-action-btn{
    z-index: 200;
}

.fixed-action-btn .btn-floating{
    color: #333333;
}

.fixed-action-btn ul li a.invisible{
    display: none;
}
.switch-icon{
    padding: 8px;
}

.switch-icon.helmet{
    content: url(/static/multi_switch/img/helmet_64.png);
}

.switch-icon.napping{
    content: url(/static/multi_switch/img/napping_64.png);
}

.switch-icon.night{
    content: url(/static/multi_switch/img/night_64.png);
}

/****************/
/**** Detail ****/
/****************/
.detail-content{
    display: none;
    flex-direction: row;
    align-items: center;
    height: 40px;
    position: relative;
}

.detail-content .fixed-area{
    position: fixed;
    width: 100%;
    margin-top: 72px;
    background-color: #ffffff;
    z-index: 300;
    padding: 8px 0px 0px 0px;
    border-bottom: 1px #f0f0f0 solid;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,0.14), 0 3px 1px -1px rgba(0,0,0,0.12), 0 1px 5px -5px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.14), 0 3px 1px -1px rgba(0,0,0,0.12), 0 1px 5px -5px rgba(0,0,0,0.2);
    max-width: 480px;
}

.detail-content .scroll-area{
    width: 100%;
    height: 100%;
    margin-top: 24px;
}

/**********************/
/* [Detail] Tool Area */
/**********************/
.detail-content .tool-area{
    top: 96px;
    z-index: 300;
    width: 100%;
    background-color: #ffffff;
}

.detail-content .tool-area .btn-back-to-calendar{
    background-color: #e8e8e8;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 32px;
    padding: 0 4px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    margin-left: 4px;
    cursor: pointer;
    width: 128px;
}
.detail-content .tool-area .btn-back-to-calendar:hover{
    background-color: #cccccc;
}

.detail-content .tool-area .btn-back-to-calendar i{
    font-size: 16px;
}
.detail-content .tool-area .btn-back-to-calendar span{
    color: #666666;
    font-size: 11px;
}

/*************************/
/* [Detail] Date Changer */
/*************************/
.date-changer{
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 0;
    margin-top: 8px;
    top: 128px;
    z-index: 300;
    background-color: #ffffff;
}

.date-changer .btn-move{
    width: 64px;
    border-radius: 4px;
    background-color: #f0f4c3;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.date-changer .btn-move:hover{
    background-color: #c0c4a3;
}

.date-changer .btn-move.disabled{
    color: #cccccc;
    background-color: #e8e8e8;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

.date-changer .datetime{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;
    color: #666666;
}

.date-changer .datetime .year{
    font-size: 16px;
    margin: 0 2px;
}

.date-changer .datetime .year-design{
    font-size: 12px;
    margin: 0 2px;
}

.date-changer .datetime .month{
    font-size: 24px;
    margin: 0 2px;
}

.date-changer .datetime .month-design{
    font-size: 16px;
    margin: 0 2px;
}
.date-changer .datetime .date{
    font-size: 24px;
    margin: 0 2px;
}

.date-changer .datetime .date-design{
    font-size: 16px;
    margin: 0 2px;
}

/********************************/
/* [Detail] Detail Body - Graph */
/********************************/
.detail-content .detail-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 136px;
}

.detail-content .detail-body .graph{
    height: 675px;
    width: 50%;
    display: flex;
    flex-direction: row;
}

.detail-content .detail-body .graph .graph-scale{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 64px;
    align-items: flex-end;
}
.detail-content .detail-body .graph .graph-scale div{
    height: 27px;
    display: flex;
    align-items: center;
}
.detail-content .detail-body .graph .graph-scale .th0{
    font-size: 14px;
    color: #666666;
}

.detail-content .detail-body .graph .graph-scale .th1{
    font-size: 14px;
    color: #666666;
}

.detail-content .detail-body .graph .graph-scale .th2{
    font-size: 12px;
    color: #999999;
}

.detail-content .detail-body .graph .graph-body {
    width: 100%;
    padding: 13.5px 0;
    position: relative;
    margin-left: 8px;
}

.detail-content .detail-body .graph .graph-body .graph-basement {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #CCCCCC;
}

.detail-content .detail-body .graph .graph-body .graph-bar:first-child{
    border-radius: 4px 4px 0 0;
}

.detail-content .detail-body .graph .graph-body .graph-bar:last-child{
    border-radius: 0 0 4px 4px;
}

.detail-content .detail-body .graph .graph-body .graph-bar.helmet.on{
    background-color: #90caf9;
}

.detail-content .detail-body .graph .graph-body .graph-bar.helmet.off{
    background-color: #ef9a9a;
}

.detail-content .detail-body .graph .graph-body .graph-cover {
    background-color: #cccccc;
    position: absolute;
    height: 648px;
    width: 100%;
    top: 0px;
    border-radius: 0 0 4px 4px;
    margin: 13.5px 0;
}

.detail-content .detail-body .graph .graph-body .graph-line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    border-radius: 4px;
    padding: 13.5px 0px;
}
.detail-content .detail-body .graph .graph-body .graph-line div{
    height: 27px;
}

.detail-content .detail-body .graph .graph-body .graph-line .th1{
    background-color: transparent;
    border-bottom: 1px #aaaaaa dotted;
}
.detail-content .detail-body .graph .graph-body .graph-line .th1:last-child{
    border-bottom: 0;
}
.detail-content .detail-body .graph .graph-body .graph-line .th2{
    background-color: transparent;
    border-bottom: 1px #e8e8e8 dotted;

}

/*******************************/
/* [Detail] Detail Body - Info */
/*******************************/
.detail-content .detail-body .detail-info{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 16px 8px;
    background-color: #f0f0f0;
    padding: 8px 8px 16px 8px;
    border-radius: 8px;
}

.detail-content .detail-body .detail-info .info-row.caption{
    margin-top: 24px;
    font-size: 16px;
    color: #999999;
    border-bottom: 1px #e8e8e8 solid;
}
.detail-content .detail-body .detail-info .info-row.caption:first-child{
    margin-top: 8px;
}

.detail-content .detail-body .detail-info .info-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 0;
    align-items: center;
}
.detail-content .detail-body .detail-info .info-row .title{
    font-size: 14px;
    color: #666666;
}
.detail-content .detail-body .detail-info .info-row .data{
    font-size: 14px;
    color: #666666;
}

.detail-content .detail-body .detail-info .info-row .data .time{
    font-size: 18px;
    color: #666666;
    font-weight: bold;
}

.detail-content .detail-body .detail-info .info-row .data .number{
    font-size: 16px;
    color: #666666;
    font-weight: bold;
}

.detail-content .detail-body .detail-info .info-row .title .status-label{
    font-size: 12px;
    border-radius: 4px;
    padding: 4px;
    font-weight: bold;
}
.detail-content .detail-body .detail-info .info-row .title .status-label.on{
    background-color: #90caf9;
}
.detail-content .detail-body .detail-info .info-row .title .status-label.off{
    background-color: #ef9a9a;
}